@tailwind base;
@tailwind components;
@tailwind utilities;


.top-menu-expanded{
    @apply absolute top-10 z-50 w-full text-center bg-white animate-slideDown ;
}
.top-menu-item {
    @apply relative cursor-pointer
           after:lg:absolute after:lg:bottom-0 after:lg:left-0 
           after:lg:bg-light-coffee after:lg:h-0.5 after:lg:w-0
           hover:after:lg:w-full after:lg:transition-all 
           after:lg:duration-300 after:lg:ease-in-out;
}

/* .top-menu-item-active{
    @apply text-gray-800;
} */

.ct-icon{
    @apply w-5 h-5 inline-block; 
}

.ct-badge-circle{
    @apply text-xs text-center rounded-full px-1.5;
}




